@model List<PolleySport.Models.ProductModel>
@{
    ViewBag.Title = "Home Page";
}

@section featured {
<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
                <p>
                    To learn more about ASP.NET MVC visit
                    <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                    The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                    If you have any questions about ASP.NET MVC visit
                    <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
                </p>
        </div>
    </div>
    <!-- /col-md-9-->
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <ul class="nav">
                <li><strong>Top selling products</strong></li>
                <li><a href="/electronics/Smartphone/" title="Smartphone">Smartphone</a></li>
                <li><a href="/clothing/T-Shirt/" title="T-Shirt">T-Shirt</a></li>
                <li><a href="/electronics/OLED-Television/" title="OLED Television">OLED Television</a></li>
            </ul>


            <ul class="nav">
                <li><strong>Random Categories</strong></li>
                <li><a href="/clothing/" title="Clothing"><span class="badge pull-right">2</span> Clothing</a> </li>
                <li><a href="/electronics/" title="Electronics"><span class="badge pull-right">3</span> Electronics</a> </li>
                <li><a href="/shoes/" title="Shoes"><span class="badge pull-right">2</span> Shoes</a> </li>
            </ul>

        </div>
    </div>
    <!-- /col-md-3 -->
</div>
<!-- /row -->
}

<div class="page-header">
    <h1>Newest Products <small>take a look at the products we just added to our store!</small></h1>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="thumbnail">
                <a href="/electronics/Smartphone/" title="Smartphone">
                    <img height="200" data-src="" alt="Image" src="@product.ImageURL" style="height: 200px; width: 100%; display: block;">
                </a>
                <div class="caption">
                    <span class="label label-success">New</span>
                    <span class="label label-default">@product.SubCategory.SubCategoryName</span>
                    <h3>@product.Name</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm-7 col-xs-7">
                        </div>
                        <!-- /col-md-7 -->
                        <div class="col-sm-5 col-xs-5 text-right">
                            <p>
                                <a href="@Url.Action("Details", "Store", new { id = product.ProductId })" class="btn btn-info">
                                    <span>Details</span> </a>
                                @*<a href="/electronics/Smartphone/" title="Smartphone" class="btn btn-info">Details</a>*@
                            </p>
                        </div>
                        <!-- /col-md-3 -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /caption -->
            </div>
            <!-- /thumbnail -->
        </div>
    }
    <!-- /col-sm-6 col-md-3 -->
</div>